@model Application.ViewModel.ChatViewModel
@{
    ViewData["Title"] = "Chat";
    Layout = "_chatLayout";
    var currentUserId = ViewBag.currentUserId;
    var role = ViewBag.currentUserRole;
    var partner = Model.User1.UserId == currentUserId ? Model.User2 : Model.User1;

    var serializedChatData = Newtonsoft.Json.JsonConvert.SerializeObject(Model);

}



<div class="chat-container">
    <div class="chat-header ">
        <div class="btns">

            @if (role == "Admin")
            {
                <a href="@Url.Action("AdminDashboard", "Chat")" class="btn-circle">
                    <i class="fas fa-arrow-left"></i>
                </a>

            }

            <form asp-action="Logout" asp-controller="Account" method="post" >
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-danger btn-lg">LogOut</button>
            </form>
    
        </div>
        <div class="profile">
            <span class="chat-partner-name">@partner.Name</span>
            <div class="status-indicator @(partner.IsOnline ? "online" : "offline")"></div>
            <img src="~/imgs/defualt-user-img.png" alt="@partner.Name" class="chat-partner-image">
        </div>

    </div>

    <div class="chat-body" id="chatBody">
        @foreach (var message in Model.Messages)
        {
            var isMyMessage = message.SenderId == currentUserId;
            <div class="@(isMyMessage ? "partner-message":"my-message" )">
                @if (!isMyMessage)
                {
                    <img src="~/imgs/defualt-user-img.png" alt="@message.Sender.Name" class="user-image">
                }

                <div class="message-content">
                    <div class="@(string.IsNullOrWhiteSpace(message.img) || string.IsNullOrWhiteSpace(message.document) ? "message-text time-text-align" : "message-text")">

                   
                        <p>@message.Content</p>
                        <span class="message-time">@message.SentAt.ToString("HH:mm")</span>
                    </div>
                    @if (!string.IsNullOrWhiteSpace(message.img))
                    {
                        <img class="message-img" src="http://localhost:35848/@message.img" />
                    }

                    @if (!string.IsNullOrWhiteSpace(message.document))
                    {
                        <a href="http://localhost:35848/${@message.document}" target="_blank" class="document-link">
                            <i class="fas fa-file-download"></i> Download Document
                        </a>
                    }
                    @if (!string.IsNullOrWhiteSpace(message.voice))
                    {

                        <audio controls>
                            <source src="@message.voice" type="audio/wav">
                        </audio>
                    }
                    @if (message.SenderId == currentUserId)
                    {
                        <div class="@(message.IsSeen ? "check-marks isRead" : "check-marks")">
                            &#10004;&#10004;
                        </div>
                    }
                 
             
                </div>

          
            </div>
        }
    </div>

    <div class="chat-footer">
        <div class="chat-actions">
            <div id="previewArea" class="preview-area"></div>
            <button id="sendImage" class="icon-button"><i class="fas fa-image"></i></button>
            <button id="sendFile" class="icon-button"><i class="fas fa-file"></i></button>
            <button id="sendVoice" class="icon-button"><i class="fas fa-microphone"></i></button>
            <span id="recordingTime" style="display: none;">00:00</span>
        </div>
        <input type="text" id="messageInput" placeholder="write your message here..." maxlength="100">
        <span id="charCounter">100</span>
        <button id="sendButton">Send</button>
        <input type="file" id="imageInput" accept="image/*" style="display:none;">
        <input type="file" id="fileInput" accept=".pdf,.doc,.docx,.txt" style="display:none;">
    </div>

<script>

        var data = @Html.Raw(serializedChatData);
        console.log(data);


    window.chatData = {
        currentUserId: '@currentUserId',
        partnerId: '@partner.UserId',
        chatId: @Model.ChatId,
        };
</script>