@model Application.ViewModel.ChatViewModel
@{
    ViewData["Title"] = "Chat";
    Layout = "_chatLayout";
    var currentUserId = ViewBag.currentUserId;
    var role = ViewBag.currentUserRole;
    var partner = Model.User1.UserId == currentUserId ? Model.User2 : Model.User1;
}



<div class="chat-container">
    <div class="chat-header ">
        <div class="btns">

            @if (role == "Admin")
            {
                <a href="@Url.Action("AdminDashboard", "Chat")" class="btn-circle">
                    <i class="fas fa-arrow-left"></i>
                </a>

            }

            <form asp-action="Logout" asp-controller="Account" method="post" >
                @Html.AntiForgeryToken()
                <button type="submit" class="btn btn-outline-danger btn-lg">LogOut</button>
            </form>
    
        </div>
        <div class="profile">
            <span class="chat-partner-name">@partner.Name</span>
            <div class="status-indicator @(partner.IsOnline ? "online" : "offline")"></div>
            <img src="~/imgs/defualt-user-img.png" alt="@partner.Name" class="chat-partner-image">
        </div>

    </div>

    <div class="chat-body" id="chatBody">
        @foreach (var message in Model.Messages)
        {
            var isMyMessage = message.SenderId == currentUserId;
            <div class="@(isMyMessage ? "partner-message":"my-message" )">
                @if (!isMyMessage)
                {
                    <img src="~/imgs/defualt-user-img.png" alt="@message.Sender.Name" class="user-image">
                }
                <div class="message-content">
                    <p>@message.Content</p>
                    <span class="message-time">@message.SentAt.ToString("HH:mm")</span>
                </div>
          
            </div>
        }
    </div>

    <div class="chat-footer">
        <input type="text" id="messageInput" placeholder="write your message here...">
        <button id="sendButton">Send</button>
    </div>
</div>


<script>
    window.chatData = {
        currentUserId: '@currentUserId',
        partnerId: '@partner.UserId',
        chatId: @Model.ChatId,
        };
</script>